#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
**/consul

server.pem
kube_config.yml
kubernetes/.pid_kube_ports
kubernetes/.pid_kube_proxy
